<section class="section">
  <h1 class="title has-text-centered">Flickr User Search</h1>

  <div class="columns is-mobile is-centered ">
    <%= render partial: 'form' %>
  </div>

  <% flash.each do |type, msg| %>
    <% if type == 'alert' %>
        <p class="has-text-centered has-text-danger">
          <%= msg %>
        </p>
    <% end %>
  <% end %>
</section>

<section class="section">
  <% @photos.each do |photo| %>
    <%= link_to image_tag(photo[:thumbnail]), photo[:full] %>
  <% end if @photos %>
</section>